<aside class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Gráficos</li>
      <li>
        <a>
          <i class="fa fa-industry"></i> <span>IBEX 34</span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li>
            <a>
              <i class="fa fa-circle-o"></i>BBVA
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-circle-o"></i>Santander
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-circle-o"></i>Telefónica
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a>
          <i class="fa fa-area-chart"></i> <span>Comparativa</span>
        </a>
      </li>
    </ul><!-- /.sidebar-menu -->
  </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->