<aside class="main-sidebar">
  <!-- Inner sidebar -->
  <div *ngIf="companies" class="sidebar">
    <ul class="sidebar-menu">
      <li class="header"><b>M</b>arket <b>A</b>nalizer</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-industry"></i> <span>Bolsa Española</span>
        </a>
        <ul class="treeview-menu menu-open" style="display: block;">
          <li *ngFor="let company of companies">
            <a [routerLink]="['/company', company.id]" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>{{company.name}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a>
          <i class="fa fa-area-chart"></i> <span>Comparativa</span>
        </a>
      </li>
    </ul><!-- /.sidebar-menu -->
  </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->