<aside class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="header"><b>M</b>arket <b>A</b>nalizer</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i> <span>IBEX 35</span>
        </a>
        <ul *ngIf="IBEX35" class="treeview-menu" style="display: block;">
          <li *ngFor="let company of IBEX35">
            <a [routerLink]="['/company', company.id, company.name]" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>{{company.name}}
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-line-chart"></i> <span>Bolsa Española</span>
        </a>
        <ul *ngIf="BME" class="treeview-menu">
          <li *ngFor="let company of BME">
            <a [routerLink]="['/company', company.id, company.name]" routerLinkActive="active">
              <i class="fa fa-circle-o"></i>{{company.name}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a>
          <i class="fa fa-area-chart"></i> <span>Comparativa</span>
        </a>
      </li>
    </ul><!-- /.sidebar-menu -->
  </div><!-- /.sidebar -->
</aside><!-- /.main-sidebar -->