<div *ngIf="companyName">
  <h3 align="center">{{companyName}}</h3>
</div>

<div *ngIf="companyId" class="row">
  <div class="col-xs-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab_fundamental" data-toggle="tab" aria-expanded="true" (click)="reflowCharts()">Análisis fundamental</a>
        </li>
        <li class="">
          <a href="#tab_candle" data-toggle="tab" aria-expanded="false" (click)="reflowCharts()">Gráfico de velas</a>
        </li>
        <li class="">
          <a href="#tab_technical" data-toggle="tab" aria-expanded="false" (click)="reflowCharts()">Análisis técnico</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_fundamental">
          <div class="row">
            <div class="col-xs-12">
              <app-chart-fundamental [companyId]="companyId"></app-chart-fundamental>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab_candle">
          <div class="row">
            <div class="col-xs-12">
              <app-chart-candlestick [companyId]="companyId"></app-chart-candlestick>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tab_technical">
          <div class="row">
            <div class="col-xs-12">
              <app-chart-technical [companyId]="companyId"></app-chart-technical>
            </div>
          </div>
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
  </div>
</div>

