<div class="row" style="margin: 30px">
    <div class="col-xs-6">
        <form>
            <div class="btn-group">
                <button type="button" name="optradio" class="btn btn-default" (click)="radioChange(1)" [class.active]="optionSelected === 1">Último mes</button>
                <button type="button" name="optradio" class="btn btn-default" (click)="radioChange(2)" [class.active]="optionSelected === 2">Últimos tres meses</button>
                <button type="button" name="optradio" class="btn btn-default" (click)="radioChange(3)" [class.active]="optionSelected === 3">Rango</button>
            </div>
        </form>
    </div>
    <div class="col-xs-6">
        <div class="form-group pull-right">
            <!--<label for="range">Rango:</label>-->
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" [disabled]="!rangeSelected" class="form-control pull-right" id="reservation" [value]="formatRange(from, to)">
            </div>
        </div>
    </div>
</div>

<div class="chart"></div>

<div *ngIf="company">
    <div *ngIf="company.dailyData[company.dailyData.length - 1].action === 'buy'">
        <span>Acción recomendada: Comprar</span>
        <i class="fa fa-shopping-cart"></i>
    </div>
    <div *ngIf="company.dailyData[company.dailyData.length - 1].action === 'sell'">
        <span>Acción recomendada: Vender</span>
        <i class="fa fa-money"></i>
    </div>
    <div *ngIf="company.dailyData[company.dailyData.length - 1].action === 'wait'">
        <span>Acción recomendada: Esperar</span>
        <i class="fa fa-coffee"></i>
    </div>
</div>